body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.landing {
    background-image: url('media/bg.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.about {
    background-color: #f7f7ff;
    height: 100%;
    background-size: cover;
}

#bio {

    color: #07181D;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    vertical-align: middle;
    position: relative;
}

#releases {
    color: #F7F7FF;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    vertical-align: middle;
    position: relative;
}

#releases h1 {
    color: #fff6e3;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

h2 {
    font-weight: 400;
}

.parallax4 {

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



header {
    position: absolute;
    z-index: 5;
    top: 2.5em;
    left: 10%;
    color: white;
    font-size: 3em;
    font-weight: 700;
}


main {
    margin: 0;
    height: 100%;
}

#instagram {
    padding-right: 20vw;
    padding-left: 20vw;
    padding-top: 10vw;
    padding-bottom: 10vw;

}

#quote p {
    text-align: right;
    margin-right: 5em;
}

.taggbox-container {
    overflow: auto;

}

.taggbox-socialwall {
    height: 100%;
}

other {
    height: 100%;
    background: rgb(112, 196, 217);
    background: linear-gradient(135deg, rgba(112, 196, 217, 1) 0%, rgba(247, 247, 255, 1) 96%);
    background-size: 100%;
}

footer {
    position: fixed;
    background-color: #70c4d9;
    opacity: 10%;
    bottom: 0;
    font-size: 15px;
    z-index: 1;
    text-align: center;
    color: #F7F7FF;
    width: 100%;
    transition: 0.3s;
}

footer:hover {
    opacity: 100%;
}

a:link {
    color: #0b0b0050;
}

a:visited {
    color: #0c0c0c;
}

a:hover {
    color: #0c0c0c;
}

a:active {
    color: #0c0c0c;
}

#btn {
    position: fixed;
    bottom: 30px;
    right: 10px;
    max-width: 3em;
    width: 100%;
    margin-right: 10px;
    font-size: 2em;
    border-radius: 4px;
    text-decoration: none;
    background-color: white;
    border: none;
    opacity: 50%;
    box-shadow: 0px 0px 20px 5px rgba(0, 225, 255, 0.829);
}

#btn a {
    color: black;
    text-decoration: none;


}

#btn:hover {
    opacity: 100%;
    transition: 0.5s;
}


/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 90px 10px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: 0;
    /* At the top */
    z-index: 99;
}

/* Style the navbar links */
#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link */
#navbar a.active {
    background-color: dodgerblue;
    color: white;
}

/* Display some links to the right */
#navbar-links {
    float: right;
}




/* .navbar {
    background-color: #ffffff;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    text-align: center;

}

.navbar a {
    float: right;
    color: #0c0c0c;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
} */

/* .navbar {
    z-index: 5;
    color: #0c0c0c;
    font-size: 1em;
    position: absolute;
    font-weight: 400;
    transition: 0.3s;
    top: 2%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}

.navbar a {
    text-decoration: none;
    margin: 15px;
} */